/* Qaisers main.css */

* {
    background-color: #caffbf;
    color: darkgoldenrod;
    text-align: center;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.images {
    height: 200px;
    width: 300px;
}
h3 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: darkmagenta;
    color: deeppink;
    text-align: left;
}
head {
    position: fixed;
    top: 0;
}
.red-heading {
    color: red;
}
.blue-heading {
    color: blue;
    width: auto;
    text-align: left;
    
}

.extra-info {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-style: italic;
}
#extra-info-box {
    background-color: rgb(255, 99, 71);
    opacity: 20%;
}
.navbar {
    /* float: inline-start; */
    /* position:fixed; */
    /* top: 0; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: auto;
    align-items: center;
    background-color: black;
}
.navbutton {
    background-color: black;
    color:deeppink;
    /* text-align: center; */
    /* width: 100%; */
    /* margin: 5px; */
    /* padding: 10px; */
}
.article  {   /* formats text and picture in a flexbox */
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    width: min-content;
    /* height: 10%; */
    align-items: center;
    color: midnightblue;
    background-color: mediumseagreen;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
}

.article2  {   /* formats text and picture in a flexbox by row*/
    display: flex;
    flex-direction: row-reverse;
    /* justify-content: center;
    width: min-content; */
    /* align-items: center; */
    color: midnightblue;
    background-color: mediumseagreen;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* font-size: large; */
    border: black;
}

.articlewrap {
    display: flex;
    flex-direction: column;
}